body {
  margin: 0; /* Відсутність зовнішніх відступів */
  font-family: Arial, sans-serif; /* Основний шрифт сайту */
}

/* Стилі заголовка (header) */
header {
  height: 600px; /* Висота секції */
  background: url('../img/header.png') no-repeat center center; /* Фонова картинка */
  background-size: cover; /* Масштабування картинки для покриття всього блоку */
  position: relative; /* Відносне позиціонування */
}

/* Стилі навігаційної панелі */
.navbar-custom {
  background-color: rgba(0, 0, 0, 0.8); /* Чорний напівпрозорий фон */
}
.navbar-custom .navbar-brand {
  color: white; /* Білий текст для логотипу */
  margin-right: 50px; /* Відступ справа від логотипу */
  font-size: 1.5rem; /* Збільшений розмір шрифту логотипу */
  margin-left: -25px; /* Зсув логотипу вліво */
}
.navbar-custom .nav-link {
  color: white; /* Білий текст для навігаційних посилань */
}
.navbar-custom .btn {
  background-color: white; /* Білий фон для кнопок */
  color: purple; /* Фіолетовий текст */
  border-radius: 35px; /* Радіус кнопок */
  border: none; /* Видаляємо межу */
  margin-left: 10px; /* Відступ між кнопками */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тінь для кнопок */
  transition: transform 0.2s, box-shadow 0.2s; /* Плавні переходи */
}
.navbar-brand img {
  max-height: 120px; /* Максимальна висота логотипу */
  max-width: 120px; /* Максимальна ширина логотипу */
  height: auto; /* Автоматична висота для збереження пропорцій */
  width: auto; /* Автоматична ширина для збереження пропорцій */
}
.navbar-collapse {
  justify-content: space-between; /* Розподіл простору між елементами */
}
.navbar-nav {
  flex-grow: 1; /* Розширення меню навігації */
  justify-content: center; /* Центрування елементів меню */
}
.navbar-toggler {
  border: none; /* Видаляємо обведення */
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Білі лінії для іконки гамбургера */
}
.content {
  transition: margin-top 0.3s; /* Плавний перехід відступу */
}

/* Стилі для мобільних пристроїв */
@media (max-width: 767.98px) {
  .navbar-custom .btn {
    width: 100%; /* Кнопки займають всю ширину на мобільних пристроях */
    margin: 10px 0; /* Відступи зверху і знизу */
  }
  .navbar-collapse {
    text-align: center; /* Центрування кнопок на мобільних пристроях */

  }
  .navbar-toggler {
    border: none; /* Видаляємо обведення */
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Білі лінії для іконки гамбургера */
  }
}


/* Стилі контейнера */
.make-container {
  width: 90%; /* Ширина контейнера */
  padding-right: 300px; /* Внутрішній відступ справа */
  margin-right: auto; /* Автоматичний відступ справа */
  margin-left: 100px; /* Відступ зліва */
}

/* Стилі основної кнопки */
.btn-primary { 
  display: inline-block; /* Відображення як вбудований блок */
  padding: 10px 20px; /* Внутрішні відступи */
  margin-right: 15px; /* Відступ справа */
  background-color: #480d83; /* Фон кнопки */
  color: #F5F5F5; /* Колір тексту */
  font-size: 16px; /* Розмір шрифту */
  font-family: Inter, sans-serif; /* Шрифт тексту */
  text-decoration: none; /* Без підкреслення */
  border-radius: 30px; /* Радіус межі */
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Плавні переходи */
}

/* Стилі заголовка */
.header {
  background-color: transparent; /* Прозорий фон */
  color: #000000; /* Чорний текст */
  padding: 20px 0; /* Внутрішні відступи */
  transition: background-color 0.3s; /* Плавний перехід фону */
}
.header .nav-link {
  color: #ffffff; /* Білий текст для посилань */
  font-weight: bold; /* Напівжирний текст */
  padding: 10px 20px; /* Внутрішні відступи */
  transition: color 0.3s; /* Плавний перехід кольору тексту */
}
.header .nav-link:hover {
  color: #ff69b4; /* Колір тексту при наведенні */
}
.header-scrolled {
  background-color: #121212; /* Темний фон при скролі */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тінь при скролі */
}
.header-scrolled .nav-link {
  color: #ffffff; /* Білий текст при скролі */
}

/* Стилі кнопок у заголовку */
.button-header {
  display: flex; /* Гнучке відображення */
  align-items: center; /* Вирівнювання по вертикалі */
  margin-left: auto; /* Автоматичний відступ зліва */
}
.button-header a {
  display: inline-block; /* Відображення як вбудований блок */
  padding: 10px 20px; /* Внутрішні відступи */
  margin-right: 15px; /* Відступ справа */
  background-color: #ffffff; /* Фон кнопки */
  color: #480d83; /* Колір тексту */
  font-size: 16px; /* Розмір шрифту */
  font-family: Inter, sans-serif; /* Шрифт тексту */
  text-decoration: none; /* Без підкреслення */
  border-radius: 30px; /* Радіус межі */
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Плавні переходи */
}
.button-header a:last-child {
  margin-right: 0; /* Відсутність відступу у останньої кнопки */
}
.button-header a:hover {
  background-color: #480d83; /* Фон при наведенні */
  color: #ffffff; /* Колір тексту при наведенні */
  transform: scale(1.05); /* Масштабування при наведенні */
}

/* Стилі секції "Головна" */
.home-section {
  padding-top: 150px; /* Відступ зверху */
}
.home-section h1 {
  color: #f5f5f5; /* Світлий текст */
}
.home-section h2 {
  color: #ffff00cc; /* Жовтий текст */
  font-size: 32px; /* Розмір шрифту */
}
.home-section p {
  color: #ffff00cc; /* Жовтий текст */
  font-size: 24px; /* Розмір шрифту */
}

/* Стилі секції "Про нас" */
.about-section {
  padding-top: 100px; /* Отступ сверху */
  padding-bottom: 100px; /* Отступ снизу */
}
.about-section h2 {
  font-weight: 300; /* Напівжирний текст */
  font-size: 2.5rem; /* Розмір шрифту */
  color: #121212; /* Темний текст */
  text-align: left; /* Вирівнювання тексту ліворуч */
}
.about-section p {
  font-size: 1.1rem; /* Розмір шрифту */
  line-height: 2.3; /* Міжрядковий інтервал */
  color: #121212; /* Темний текст */
}
.about-section img {
  width: 90%; /* Ширина зображення */
  height: auto; /* Автоматична висота */
  margin-bottom: 20px; /* Отступ снизу для изображений */
}
/* Отступы между изображениями и текстом */
.about-section .col-lg-6 {
  margin-bottom: 40px; /* Отступ снизу для текстовых блоков */
}
/* Стили для мобильных устройств */
@media (max-width: 767.98px) {
  .about-section .row {
    display: flex;
    flex-direction: column;
  }
  .about-section .col-lg-6 {
    order: 1; /* Сначала текст */
    margin-bottom: 20px; /* Отступ снизу для текста */
  }
  .about-section .photo-pronas {
    order: 2; /* Затем фото */
    margin-bottom: 20px; /* Отступ снизу для фото */
  }
  .about-section .photo-pronas + .col-lg-6 {
    order: 3; /* Затем текст */
    margin-bottom: 20px; /* Отступ снизу для текста */
  }
  .about-section .photo-pronas + .col-lg-6 + .col-lg-6 {
    order: 4; /* Затем фото */
    margin-bottom: 20px; /* Отступ снизу для фото */
  }
  .about-section .photo-pronas + .col-lg-6 + .col-lg-6 + .col-lg-6 {
    order: 5; /* Затем текст */
    margin-bottom: 20px; /* Отступ снизу для текста */
  }
  .about-section .photo-pronas + .col-lg-6 + .col-lg-6 + .col-lg-6 + .col-lg-6 {
    order: 6; /* Затем фото */
  }
}

/* Стилі секції "Послуги" */
.terms-section {
  background-image: url('../img/natural-cosmetics-and-cleansing-disks-with-copy-space-1.png'); /* Фонова картинка */
  background-size: cover; /* Масштабування картинки для покриття всього блоку */
  background-position: center; /* Центрування картинки */
  padding: 50px; /* Внутрішні відступи */
  min-height: 500px; /* Мінімальна висота секції */
}
.terms-section h3, .terms-section h2, .prices h3, .prices h2 {
  color: #f5f5f5; /* Світлий текст */
}
.terms-section p, .prices p {
  line-height: 35px; /* Міжрядковий інтервал */
  color: #121212; /* Темний текст */
}
.service-item {
  position: relative; /* Відносне позиціонування для блоків */
  margin: 50px 0; /* Зовнішні відступи */
  padding: 2px 0; /* Внутрішні відступи */
  text-align: left; /* Вирівнювання тексту ліворуч */
}
.service-item::before,
.service-item::after {
  content: ""; /* Порожній контент для ліній */
  display: block; /* Блокове відображення */
  width: 100%; /* Ширина ліній */
  height: 1px; /* Висота ліній */
  background: #EAEAEA; /* Колір ліній */
  position: absolute; /* Абсолютне позиціонування */
  left: 0; /* Позиціонування зліва */
}
.service-item::before {
  top: 0; /* Лінія зверху */
}
.service-item::after {
  bottom: 0; /* Лінія знизу */
}
.service-item p {
  margin: 10px 0; /* Зовнішні відступи */
  letter-spacing: 0.05em; /* Відстань між буквами */
}

/* Стилі секції "Онлайн курси" */
.online {
  background-color: #EAEAEA; /* Світло-сірий фон */
}
.online h2 {
  color: #121212; /* Темний текст */
}
.online p {
  color: #333; /* Темно-сірий текст */
}
.online-h2 {
  font-family: 'Montserrat', sans-serif; /* Шрифт заголовків */
  font-weight: 700; /* Напівжирний текст */
  color: #480d83; /* Темно-фіолетовий текст */
  margin-bottom: 20px; /* Відступ знизу */
}
.course-description {
  margin-bottom: 30px; /* Відступ знизу */
}

@media (max-width: 768px) {
  .online-h2 {
    font-size: 24px; /* Розмір шрифту для мобільних пристроїв */
  }
  .online-points {
    margin-left: 10px; /* Відступ зліва для мобільних пристроїв */
  }
}

/* Стилі форми запису на онлайн навчання */
.contant {
  position: relative; /* Відносне позиціонування */
  width: 100%; /* Ширина блоку */
  height: 100vh; /* Висота блоку */
  display: flex; /* Гнучке відображення */
  justify-content: center; /* Горизонтальне вирівнювання по центру */
  align-items: center; /* Вертикальне вирівнювання по центру */
  background-image: url('../img/7073530-1.png'); /* Фонова картинка */
  background-size: cover; /* Масштабування картинки для покриття всього блоку */
  background-position: center; /* Центрування картинки */
}
.form-wrapper {
  background-color: rgba(87, 75, 99, 0.9); /* Темно-фіолетовий напівпрозорий фон */
  padding: 20px; /* Внутрішні відступи */
  text-align: center; /* Центрування тексту */
  width: 700px; /* Ширина форми */
  height: 600px; /* Висота форми */
  display: flex; /* Гнучке відображення */
  flex-direction: column; /* Вертикальне розташування елементів */
  justify-content: center; /* Горизонтальне вирівнювання по центру */
  align-items: center; /* Вертикальне вирівнювання по центру */
}
.form-title {
  font-family: "Inter-Bold", Helvetica; /* Шрифт заголовку */
  font-weight: 700; /* Напівжирний текст */
  color: #ffffff; /* Білий текст */
  font-size: 32px; /* Розмір шрифту */
  margin-bottom: 20px; /* Відступ знизу */
}
.form-group {
  margin-bottom: 20px; /* Відступ знизу */
  width: 100%; /* Ширина елементу */
}
.form-label {
  display: block; /* Блокове відображення */
  font-family: "Inter-Regular", Helvetica; /* Шрифт тексту */
  font-weight: 400; /* Нормальний текст */
  color: #ffffff; /* Білий текст */
  opacity: 0.5; /* Прозорість тексту */
  font-size: 14px; /* Розмір шрифту */
  margin-bottom: 8px; /* Відступ знизу */
  text-align: left; /* Вирівнювання тексту ліворуч */
}
.form-input {
  width: 100%; /* Ширина поля */
  padding: 10px; /* Внутрішні відступи */
  border: none; /* Видаляємо межу */
  border-bottom: 1px solid #ffffff; /* Нижня межа */
  background: none; /* Без фону */
  color: #ffffff; /* Білий текст */
  font-family: "Inter-Regular", Helvetica; /* Шрифт тексту */
  font-size: 14px; /* Розмір шрифту */
  transition: border-color 0.3s; /* Плавний перехід кольору межі */
}
.form-input::placeholder {
  color: rgba(255, 255, 255, 0.5); /* Колір тексту підказки */
}
.form-input:focus {
  outline: none; /* Видаляємо обведення */
  border-bottom: 1px solid #480d83; /* Колір межі при фокусі */
}
.form-footer {
  font-family: "Inter-Regular", Helvetica; /* Шрифт тексту */
  font-weight: 400; /* Нормальний текст */
  color: #ffffff; /* Білий текст */
  opacity: 0.5; /* Прозорість тексту */
  font-size: 14px; /* Розмір шрифту */
  margin-bottom: 20px; /* Відступ знизу */
  text-align: center; /* Центрування тексту */
}
.form-button {
  background-color: #ffffff; /* Білий фон */
  color: #480d83; /* Темно-фіолетовий текст */
  padding: 10px 20px; /* Внутрішні відступи */
  border: none; /* Видаляємо межу */
  border-radius: 30px; /* Радіус межі */
  font-size: 14px; /* Розмір шрифту */
  font-weight: bold; /* Напівжирний текст */
  cursor: pointer; /* Вказівник курсору */
  width: 280px; /* Ширина кнопки */
  height: 50px; /* Висота кнопки */
}

/* Стилі галереї */
.photogallery img {
  width: 60%; /* Ширина зображення */
  height: auto; /* Автоматична висота */
  margin-bottom: 15px; /* Відступ знизу */
}
.photogallery p {
  margin-bottom: 15px; /* Відступ знизу */
}

/* Стилі для мобільних пристроїв */
@media (max-width: 768px) {
  .photogallery p {
    font-size: 14px; /* Розмір шрифту для мобільних пристроїв */
  }
  .photogallery img {
    margin-bottom: 10px; /* Відступ знизу для мобільних пристроїв */
  }
}

/* Стилі секції "Про нас" */
.about-section {
  background-color: #f8f0ff; /* Легкий фіолетовий фон */
  color: #333; /* Темний текст */
}
.online-h2 {
  font-family: 'Montserrat', sans-serif; /* Шрифт заголовків */
  font-weight: 700; /* Напівжирний текст */
  color: #480d83; /* Темно-фіолетовий текст */
  margin-bottom: 20px; /* Відступ знизу */
}
.course-description {
  margin-bottom: 30px; /* Відступ знизу */
}
.online-points {
  margin-left: 20px; /* Відступ зліва */
}
@media (max-width: 768px) {
  .online-h2 {
    font-size: 24px; /* Розмір шрифту для мобільних пристроїв */
  }
  .online-points {
    margin-left: 10px; /* Відступ зліва для мобільних пристроїв */
  }
}
